<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            
            <section name="ManiacEditor.Properties.CheatCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.OptionBox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <ManiacEditor.Properties.CheatCodes>
            <setting name="HideHUD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreezeTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableBackgroundPausing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableInstaSheildandDropDash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSuperPeelOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSuperPeelOutAnimation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSuperMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSuperWithNoEmerlads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperFormsCanBeCancelled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfiniteLives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InfiniteRings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableVapeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgressX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPreRendering" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.CheatCodes>
        <ManiacEditor.Properties.Settings>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceCopyUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLayersVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverLoadEntityTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidAllButTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown1Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown2Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLayerHigh" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLayerLow" serializeAs="String">
                <value />
            </setting>
            <setting name="FGLowerDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGLowDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHighDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHigherDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pixelCountMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tileToolbarDefaultZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="showManiaEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEncoreEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBothEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOtherEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFilter" serializeAs="String">
                <value>Mania (2)</value>
            </setting>
            <setting name="EnableWindowsClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveObjectImportLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFilesViewDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scrollLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollLockY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSaveWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableMightySupport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFasterNudge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FasterNudgeValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunGameInsteadOfScene" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePrePlusOffsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunGamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProhibitEntityUseOnExternalClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteObjectsInsteadOfImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="forceBrowse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverShowThisAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseObjectRenderingImprovements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEditLayerBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFasterSelectionRendering" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderObjects" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMoreRenderUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysRenderTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlternativeRenderingMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableEntityReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunModLoaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunTileManiacPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAniEdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunPalleteEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoPreloadScene" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.Settings>
        <ManiacEditor.Properties.OptionBox>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.OptionBox>
    </userSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>