<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="ManiacEditor.Properties.OptionBox" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ManiacEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        
        <ManiacEditor.Properties.OptionBox>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.OptionBox>
        <ManiacEditor.Properties.Settings>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceCopyUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLayersVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeverLoadEntityTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SolidAllButTopDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown1Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Unkown2Default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomLayerHigh" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomLayerLow" serializeAs="String">
                <value />
            </setting>
            <setting name="FGLowerDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGLowDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHighDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FGHigherDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntitiesDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationsDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pixelCountMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tileToolbarDefaultZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="showManiaEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEncoreEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showBothEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showOtherEntities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFilter" serializeAs="String">
                <value>Mania (2)</value>
            </setting>
            <setting name="EnableWindowsClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveObjectImportLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFilesViewDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SceneSelectRadioButton2On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scrollLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollLockY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableSaveWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableMightySupport" serializeAs="String">
                <value>False</value>
            </setting>
        </ManiacEditor.Properties.Settings>
    </userSettings>

</configuration>